html {
    height: 100%;
}

body {
    min-height: 100%;
}

body > * {
    padding: 1em;
}

body > header {
    background: black;
    color:white;
}

body > footer {
    background: #aaa;
    color:white;
}

body > header,
body > footer {
    text-align: center;
}

body > header > *:last-child {
    margin-bottom: 0;
}

@media all and (min-width: 768px) {
    #print-dish-list > * {
        display: flex;
        margin: 20px -20px;
        align-items: flex-start;
    }
    #print-dish-list > * > * {
        margin: 0 1em;
    }
    #print-dish-list > * > *:nth-child(1) {
        width: 140px;
    }
    #print-dish-list > * > *:nth-child(2) {
        width: 30%;
    }
    #print-dish-list > * > *:nth-child(3) {
        flex-grow: 1;
    }
}

body > article h1 {
    font-size: 2em;
}


.capitaliseLabel {
    text-transform: capitalize;
}


.inactive {
    display: none !important;
}

#select-dish-search-form {
    width: 100%;
}

.dish-thumbnail-list {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    justify-content: center;

    margin: 0 -10px;
    padding: 0;
}

.dish-thumbnail-list > li {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /*justify-items: center;*/
    align-items: center;
}


.dish-thumbnail-list > li.vertical-divider {
    width: 1px;
    background: #e5e5e5;
    align-self: stretch;
}

.dish > div {
    width: 100%;
}

tfoot {
    border-top: 1px solid rgb(183, 196, 198);
}
thead {
    border-bottom: 1px solid rgb(183, 196, 198);
}

table th,
table td {
    padding: .3em .5em;
}
tr > *:first-child {
    padding-left: 0;
}
tr > *:last-child {
    padding-right: 0;
}

table .currency {
    width: 1px;
    text-align: right;
    white-space: nowrap;
}

.currency::after {
    content: " kr";
}

article > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    align-self: stretch;
}

article > header > button {
    order: 2;
}

article > header > h2 {
    order: 1;
    margin: 0;
}

#overview-dish-list {
    justify-content: center;
}

#select-dish-search-form {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 1em;
}

#select-dish-search-form > input {
    width: auto;
}