#dish-details-view > header {
    grid-area: title;
    width: 100%;
}

#dish-details-view > .description {
    grid-area: description;
}

#dish-details-view > .ingredients {
    margin: 1em;
    padding: 1em;
    background-color: #ffe8a1;
    border-radius: 5px;
    grid-area: ingredients;
}

table.ingredients {
    width: 100%;
}

#dish-details-view > .preparation {
    grid-area: preparation;
}

@media (min-width: 512px) {
    #dish-details-view {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
                "title title"
                "description ingredients"
                "preparation preparation";
    }
}